/*  your css code here. If applicable */
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:20px;
}
.body{
	background-color:#f5f5f5;
}
.latest-news-section{
	background-color:white;
	padding:10px;
	width:150px;
	height:100px;
	border-radius:10px;
}
#main{
	display:flex;
}
.main2{
	background-color:white;
	padding:10px;
	width:250px;
	border-radius:10px;
	margin:10px;
	height:200px;
}
#main3{
	background-color:white;
	padding:10px;
	width:200px;
	height:400px;
	border-radius:10px;
}
#main3>img{
	height:100px;
	width:100px;
}